@model Projekt.Models.User
    
    @* powyżej wskazujemy na klasę w modelu z której będziemy korzystać - tzw. widok silnie typowany*@
@{
    ViewBag.Title = "Formularz rejestracyjny";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<h2>@ViewBag.Title</h2>
 
@using (Html.BeginForm("AddPost", "Home"))  @*Korzystamy z helpera BeginForm - wkazujemy na akcję w kotrolerze do ktrorej bedziemy postować dane*@
{

    <br />
    @Html.EditorForModel() @*Html Helpre odpwiedzialny za stworzenie formularza z widoku*@
 
    <br />
    <input class="btn btn-primary" type="submit" value="Wyślij" />
    <br />
    <div class="validation-form">

    </div>
 
 
}