@model Projekt.Models.User
    
@{
    ViewBag.Title = "Formularz rejestracyjny";
}
<h2>@ViewBag.Title</h2>
 
@using (Html.BeginForm("AddUser", "Home"))  @*Korzystamy z helpera BeginForm - wkazujemy na akcję w kotrolerze do ktrorej bedziemy postować dane*@
{
    <div class="editor-label">
        <div style="float:left;">    
            @Html.LabelFor(model => model.login)
            <div class="editor-field">
                @Html.TextBoxFor(model => model.login)
            </div>
        </div>    
    </div>
 
    <br />
    <input class="btn btn-primary" type="submit" value="Wyślij" />
    <br />
    <div class="validation-form">
        @Html.ValidationSummary()
    </div>
 
 
}