@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<div class="Contact">
        <ul>
            <li>Bartosz Cypcar : <a href="mailto:vivendi9r@gmail.com">vivendi9r@gmail.com</a></li>
            <li>Przemysław Gadula : <a href="mailto:przemek930010@gmail.com">przemek930010@gmail.com</a></li>
        </ul>
</div>
